mat-card-title {
    font-size: 6.5em;
    font-weight: bolder;
    margin-bottom: 0px!important;
}

mat-card-content {
    font-size: 2.5em;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    .welcome-salute {
        font-size: 3em!important;
    }

    .welcome-content {
        font-size: 1.7em!important;
    }
}