.text {
    font-size: 125px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.subtitle {
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: -30px;
}

.bgimage {
    text-shadow: 2px 2px 5px rgba(6, 6, 6);
}

@media only screen and (max-width: 600px) {
    .text {
        font-size: 4em;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .subtitle {
        font-size: 2em;
        text-align: center;
        color: white;
        margin-top: -30px;
    }
}