<!-- <button mat-icon-button routerLink="/home" routerLinkActive="mat-accent">
    <mat-icon>home</mat-icon>
</button>
<button *ngFor="let item of menuItems" mat-button [routerLink]="'/' + item.url" routerLinkActive="mat-accent">
    <mat-icon [style.color]=item.iconColor>{{ item.icon }}</mat-icon> {{item.text}}</button>
<button mat-raised-button routerLink="/donateus" routerLinkActive="mat-accent" color="warn" class="donateus">
    <mat-icon svgIcon="inr" style="color: cornsilk"></mat-icon>ଦାନ କରନ୍ତୁ
</button>
<button mat-raised-button routerLink="/joinus" routerLinkActive="mat-primary" color="accent" class="joinus">
    <mat-icon style="color:orangered">group_add</mat-icon> ଯୋଗ ଦିଅନ୍ତୁ
</button>
<span class="social">
    <a *ngFor="let item of socialIcons" mat-icon-button [href]="item.url" color="accent">
        <mat-icon [style.color]=item.iconColor svgIcon="{{ item.icon }}"></mat-icon>
    </a>
</span> -->

<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <fa-icon [icon]="['fas', 'bars']" class="bars-color"></fa-icon>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item home-icon">
                <button mat-icon-button routerLink="/home" routerLinkActive="mat-accent">
                    <mat-icon>home</mat-icon>
                </button>
            </li>
            <li class="nav-item" *ngFor="let item of menuItems">
                <button mat-button [routerLink]="'/' + item.url" routerLinkActive="mat-accent">
                    <mat-icon [style.color]=item.iconColor>{{ item.icon }}</mat-icon> {{item.text}}</button>
            </li>
            <li class="nav-item">
                <button mat-raised-button routerLink="/donateus" routerLinkActive="mat-accent" color="warn" class="donateus">
                    <mat-icon svgIcon="inr" style="color: cornsilk"></mat-icon>ଦାନ କରନ୍ତୁ
                </button>
            </li>
            <li class="nav-item my-2 my-lg-0 my-md-0 my-sm-2">
                <button mat-raised-button routerLink="/joinus" routerLinkActive="mat-primary" color="accent" class="joinus">
                    <mat-icon style="color:orangered">group_add</mat-icon> ଯୋଗ ଦିଅନ୍ତୁ
                </button>
            </li>
        </ul>
        <div class="my-lg-0 my-sm-2 my-2">
            <a *ngFor="let item of socialIcons" mat-icon-button [href]="item.url" color="accent">
                <mat-icon [style.color]=item.iconColor svgIcon="{{ item.icon }}"></mat-icon>
            </a>
        </div>
    </div>
</nav>