<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <mat-card>
        <mat-card-title *ngIf="!success" class="title">{{pageTitle}}</mat-card-title>
        <mat-card-content *ngIf="!success">
          <form [formGroup]="contactForm" (ngSubmit)="submitForm()" autocomplete="off">
            <mat-form-field>
              <input matInput placeholder="{{formConstants.name.label}}" formControlName="name">
              <mat-hint>{{formConstants.name.hint}}</mat-hint>
              <mat-error *ngIf="contactForm.controls['name'].errors?.required">
                <strong>{{formConstants.name.requiredError}}</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="{{formConstants.email.label}}" formControlName="email">
              <mat-hint>{{formConstants.email.hint}}</mat-hint>
              <mat-error *ngIf="contactForm.controls['email'].errors?.required && contactForm.controls['email'].errors?.email">
                <strong>{{formConstants.email.patternError}}</strong>
              </mat-error>
              <mat-error *ngIf="contactForm.controls['email'].errors?.required">
                <strong>{{formConstants.email.requiredError}}</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="{{formConstants.phone.label}}" formControlName="phone">
              <mat-hint>{{formConstants.phone.hint}}</mat-hint>
              <mat-error *ngIf="contactForm.controls['phone'].errors?.pattern">
                <strong>{{formConstants.phone.patternError}}</strong>
              </mat-error>
              <mat-error *ngIf="contactForm.controls['phone'].errors?.required">
                <strong>{{formConstants.phone.requiredError}}</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="{{formConstants.message.label}}" formControlName="message"></textarea>
              <mat-error *ngIf="contactForm.controls['message'].errors?.required">
                <strong>{{formConstants.message.requiredError}}</strong>
              </mat-error>
              <mat-error *ngIf="contactForm.controls['message'].errors?.minlength">
                <strong>{{formConstants.message.minError}}</strong>
              </mat-error>
              <mat-error *ngIf="contactForm.controls['message'].errors?.maxlength">
                <strong>{{formConstants.message.maxError}}</strong>
              </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid">{{formConstants.submitText}}</button>
          </form>
        </mat-card-content>
        <mat-card-content *ngIf="success">
          <fa-icon [icon]="successData.iconName" size="2x" class="{{successData.class}}"></fa-icon>
          <strong>{{successData.content}}</strong>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <mat-card class="address-card my-2 my-sm-2 my-lg-0 my-md-0">
            <mat-card-content>
              <div class="address" *ngFor="let item of staticContact"><mat-icon>{{item.icon}}</mat-icon><span>&nbsp;{{item.text}}</span></div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <mat-card class="map my-1 my-lg-3 my-md-3 my-sm-1">
            <mat-card-content>
              <iframe [src]="googleMapUrl"
                width="410" height="310" frameborder="0" style="border:0"></iframe>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>