mat-card {
    margin-bottom: 16px;
}

mat-card-title {
    font-size: 30px!important;
    font-weight: bolder;
}

mat-card-content {
    font-size: 18px!important;
}

mat-spinner {
    margin: 0 auto;
}

.mat-icon {
    font-size: 40px;
    margin-right: 40px;
}