<mat-card class="my-2 my-sm-2 my-lg-0 my-md-0">
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3" *ngFor="let icon of iconsData">
          <fa-icon [icon]="icon.iconName" size="2x" class="{{icon.class}}"></fa-icon>
          <div class="counter"><ng2-odometer [number]="icon.number" [config]="{format: 'd'}"></ng2-odometer></div>
        </div>
        <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-3">
          <fa-icon [icon]="['fab', 'youtube']" size="2x" class="youtube-icon-color"></fa-icon>
          <div class="counter"><ng2-odometer [number]="number" [config]="{format: 'd'}"></ng2-odometer></div>
        </div> -->
        <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-3">
          <fa-icon [icon]="['fas', 'users']" size="2x" class="users-icon-color"></fa-icon>
          <div class="counter"><ng2-odometer [number]="memberCount" [config]="{format: 'd'}"></ng2-odometer></div>
        </div> -->
      </div>
    </div>
  </mat-card-content>
</mat-card>
